<!-- USER LOG -->
<section class="user-log">
	<h2 class="title-section"><%= link_to :admin do %>Admin<% end %> > User log</h2>
	<div class="content-section">
		<div class="user-log-content">
			<!-- IF SIGN IN -->
			<% if user_signed_in? %>
				<!-- IF NOT ADMIN -->
				<% if current_user.role == "member" %>
					<!-- MEMBER -->
					<div class="sign-in-plz">
						<%= link_to :home do %>
							<p class="sign-in">You are not Admin ! go to Home</p>
						<% end %>
					</div>
				<% else %>
					<!-- ADMIN -->
					<h3 class="title-admin-wellcome">
						Wellcome <%= current_user.name %> - Admintration
					</h3>
					<div class="all-user-log">
						<div class="detail-content center-width">
							<h3>All User Log</h3>
							<table class="table">
								<thead>
									<tr>
										<th>User ID</th>
										<th>IP</th>
										<th>Content log</th>
										<th>Time</th>
									</tr>
								</thead>
								<tbody>
									<% @all_user_logs.each do |user_log| %>
										<tr>
											<td><%= user_log.user_id %></td>
											<td><%= user_log.ip %></td>
											<td><%= user_log.log_data %></td>
											<td><%= user_log.created_at.in_time_zone(7).strftime("%B - %d - %Y  %M:%H") %></td>
										</tr>
									<% end %>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				<% end %>				
			<!-- NO SIGN IN -->
			<% else %>
				<!-- NOT MEMBER -->
				<div class="sign-in-plz">
					<%= link_to :home do %>
						<p class="sign-in">Please Sign in</p>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function() {
		SetWidthValue();
		SetContentHeightValue();
		$(".content-section").mCustomScrollbar({theme:"light-thin",scrollButtons:{enable:true}});
		ShowSocialView();
		$(".left-slider li.admin i").addClass('active-icon');
		$(".left-slider li.admin").addClass('active');
		$('title').html('User log - Rails tutorial');
	});	
</script>