<!-- DETAIL -->
<section class="detail">
	<h2 class="title-section">Detail user</h2>
	<% if user_signed_in? %>
	<div class="content-section">
		<div class="detail-content center-width">
			<h3>User Log</h3>
			<table class="table">
				<thead>
					<tr>
						<th>User ID</th>
						<th>IP</th>
						<th>Content log</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody>
					<% @user_logs.each do |user_log| %>
						<tr>
							<td><%= user_log.user_id %></td>
							<td><%= user_log.ip %></td>
							<td><%= user_log.log_data %></td>
							<td><%= user_log.created_at.in_time_zone(7) %></td>
						</tr>
					<% end %>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- User Details -->
		<div class="center-width">
			<h3  class="user-infor-title">User details</h3>
			<button id="button-add-info">Add user infomation</button>
			<table class="table">
				<tbody>
					<tr>
						<td>User ID</td>
						<td><%= current_user.id %></td>
					</tr>
					<tr>
						<td>User Email</td>
						<td><%= current_user.email %></td>
					</tr>
					<tr>
						<td>User Name</td>
						<td><%= current_user.name %></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td><%= current_user.gender %></td>
					</tr>
					<tr>
						<td>Age</td>
						<td><%= current_user.age %></td>
					</tr>
					<tr>
						<td>Address</td>
						<td><%= current_user.address %></td>
					</tr>
					<tr>
						<td>Phone number</td>
						<td><%= current_user.p_num %></td>
					</tr>
					<tr>
						<td>Sign in count</td>
						<td><%= current_user.sign_in_count %></td>
					</tr>
					<tr>
						<td>Comment count</td>
						<td>15</td>
					</tr>
					<tr>
						<td>Create at</td>
						<td><%= current_user.created_at.in_time_zone(7) %></td>
					</tr>
					<tr>
						<td>Last sign in at</td>
						<td><%= current_user.last_sign_in_at.in_time_zone(7) %></td>
					</tr>
					<tr>
						<td>Last sign in IP</td>
						<td><%= current_user.last_sign_in_ip %></td>
					</tr>
					<tr>
						<td>Current sign in IP</td>
						<td><%= current_user.current_sign_in_ip %></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="add-info-box">
			<div class="add-info-form">
				<div class="header-box">
					<h3 class="form-title">User infomation</h3>
					<img src="/assets/close-button-thin.png" alt="Close" title="Close" id="close-info-form">
				</div>
				<%= form_for :@user_info, :url => url_for(:action => 'update'), html: { class: "user-info-form", id: "user-info-form" } do |f| %>
					<span class="name">User name</span><%= f.text_field :name %><br /><br />
					<span class="gender">Gender</span><%= f.text_field :gender %><br /><br />
					<span class="age">Age</span><%= f.text_field :age %><br /><br />
					<span class="address">User Adress</span><%= f.text_field :address %><br /><br />
					<span class="p_num">Phone number</span><%= f.text_field :p_num %><br /><br />
					<div class="footer-info">
						<%= f.submit  "Save user infomation", :class => 'button-save-info' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<% else%>
		<div class="sign-in-plz">
			<%= link_to :home do %>
				<p class="sign-in">Please Sign in</p>
			<% end %>
		</div>
	<% end%>
</section>
<script type="text/javascript">
	$(document).ready(function() {
		SetWidthValue();
		SetContentHeightValue();
		$(".content-section").mCustomScrollbar({theme:"light-thin",scrollButtons:{enable:true}});
		ShowSocialView();
		$(".left-slider li.detail i").addClass('active-icon');
		$(".left-slider li.detail").addClass('active');
		$('title').html('Details user - Rails tutorial');
		$('#button-add-info').click(function() {
			$('.add-info-box').show("slide", {direction:'up'} , "easeOutQuint ", 1000);
		});
		$('#close-info-form').click(function() {
			$('.add-info-box').hide("slide", {direction:'up'} , "easeOutQuint ", 1000);
		});
	});	
</script>