<!-- HOME -->
<section class="home">
	<h2 class="title-section">Home</h2>
	<div class="content-section">
		<div class="logo-group">
			<img src="/assets/Logo.png" class="logo-image">
			<p class="logo-name">Rails tutorial</p>
			<p class="logo-by">by <span>F-centos</span></p>
		</div>
		<div class="home-content">
		<!-- WELLCOME CONTENT -->
			<div class="wellcome center-width">
				<h4>Wellcome to Rails tutorial</h4>
				<p class="project-des">
					Ruby is a language of careful balance. Its creator, Yukihiro “Matz” Matsumoto, blended parts of his favorite languages (Perl, Smalltalk, Eiffel, Ada, and Lisp) to form a new language that balanced functional programming with imperative programming.
					He has often said that he is “trying to make Ruby natural, not simple,” in a way that mirrors life.
					"Ruby is simple in appearance, but is very complex inside, just like our human body..."
				</p>
			</div>
		<% if user_signed_in? %>
			<h2 class="hello-user">Hello
			<% if current_user.name == "" %>
				<%= current_user.email%>
			<% else%>
				<%= current_user.name%>
			<% end%>
			</h2>
			<div class="signout-button">
				<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "sign-up-button" %>
			</div>
		<% else%>
		<!-- SIGN IN BUTTON -->
			<div class="signin-button">
				<button>Sign in to see more</button>
			</div>
		<% end%>
		<!-- SIGN IN POPUP -->
			<div class="signin-form-box">
				<div class="signin-form">
					<div class="signin-form-title">
						<h4> Sign in / Sign up </h4>
						<img src="/assets/close-button-thin.png" alt="Close" title="Close" id="close">
					</div>
					<div class="signin-form-content">
						<h4 class="sign-up-title">Sign in</h4>
						<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
							<ul id="sign-in">
								<li><span class="label">Email</span>
								<%= f.email_field :email, autofocus: true, :placeholder => "Enter your email", :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
								</li>
								<li><span class="label">Password</span>
								<%= f.password_field :password, autocomplete: "off", :placeholder => "Enter your password", :required => true, pattern: '.{8,}' %>
								</li>
							</ul>
							<%= f.submit "Sign in", :class => "submit-button" %>
						<% end %>
						<hr class="hr-line" />
						<h4 class="sign-up-title">or Sign up</h4>
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
							<ul id="sign-up">
								<li>
									<span class="label">Email</span>
									<%= f.email_field :email, autofocus: true, :placeholder => "Enter your email", :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
								</li>
								<li>
									<span class="label">Password</span>
									<%= f.password_field :password, autocomplete: "off", :placeholder => "Enter your password", html: { id: "pwd"}, :required => true, pattern: '.{8,}' %>
								</li>
								<li>
									<span class="label">Confirm Password</span>
									<%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm password", :id => "cpwd", :required => true, pattern: '.{8,}' %>
								</li>
							</ul>
							<%= f.submit "Sign up", :class => "submit-button" %>
						<% end %>
					</div>
				</div>
			</div>
		<% if user_signed_in? %>
		<!-- IF SIGNED -->
			<div class="more-info center-width">
				<hr />
				<div class="inline">
					<span class="label-infor">You can see source code on</span>
					<a href="https://github.com/ngocquyhoang/F_Centos" target="blank"><i class="fa fa-github"></i></a>
				</div>
				<div class="inline">
					<span class="label-infor">Find us on</span>
					<a href="https://www.facebook.com/ngocquyhoang.93" target="blank"><i class="fa fa-facebook" id="facebook"></i></a>
				</div>
				<div class="inline">
					<span class="label-infor">or Follow us on</span>
					<a href="https://twitter.com/malloryandbob" target="blank"><i class="fa fa-twitter" id="twitter"></i></a>
				</div>
			</div>
		<% end%>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function() {
		SetWidthValue();
		SetContentHeightValue();
		$(".content-section").mCustomScrollbar({theme:"light-thin",scrollButtons:{enable:true}});
		ShowSocialView();
		$(".left-slider li.home i").addClass('active-icon');
		$(".left-slider li.home").addClass('active');
		$('title').html('Home - Rails tutorial');
		// Sign in form show javascript
		$("section.home .content-section .home-content .signin-button button").click(function () {
			SigninForm();
		});
		$(".signin-form #close").click(function () {
			$("section.home .content-section .home-content .signin-form-box .signin-form").hide("slide", {direction:'up'} , "easeOutQuint ", 1000);
			$("section.home .content-section .home-content .signin-form-box").hide("slide", {direction:'up'} , "easeOutQuint ", 1000);
		});

	});	
</script>
