<!-- CONTACT -->
<section class="contact">
	<h2 class="title-section">Contact</h2>
	<div class="content-section">
		<div class="contact-content">
			<h3>Contact to me</h3>
			<div class="form-table">
				<%= form_for :@contact, :url => url_for(:action => 'contact'), html: { class: "", id: "" } do |f| %>
					<p>Name<span>*</span></p>
					<%= f.text_field :name, class: "contact-form-element form-name", :required => true %>
					<p>Company</p>
					<%= f.text_field :company, class: "contact-form-element form-company" %>
					<p>Email<span>*</span></p>
					<%= f.email_field :email, class: "contact-form-element form-email", :required => true %>
					<p>Message<span>*</span></p>
					<%= f.text_area(:message, class: "contact-form-element message-text", :required => true) %>
					<%= f.submit "Send message", class: "send-button" %>
				<% end %>
			</div>

			<div class="mem-text">
				<p>
					<h3>3 Idiots</h3><br />
					" Follow excellence...Success will chase you "
					<br />
					- Rancho
					<br />
					" I took two broken legs to get me up on my feet, wasn't easy to get this attitude. Can't change it, sir. You keep your job and...I'll keep my attitude "
					<br />
					- Raju
					<br />
					" Exams, we have many..Dad mostly just one. We don't budge from here without the postmaster "
					<br />
					- Rancho
					<br />
					" Life is a race. Run fast or you'll be trampled "
					<br />
					- Farhan
					<% if @messages_contact.present? %>
						<% @messages_contact.each do |message|%>
							<%= message.id %>
						<% end%>
					<% end%>
				</p>
			</div>
				
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function() {
		SetWidthValue();
		SetContentHeightValue();
		$(".content-section").mCustomScrollbar({theme:"light-thin",scrollButtons:{enable:true}});
		ShowSocialView();
		$(".left-slider li.contact i").addClass('active-icon');
		$(".left-slider li.contact").addClass('active');
		$('title').html('Contact - Rails tutorial');
	});	
</script>
