<!DOCTYPE html>
<html>

	<head>

		<title>Bk's - Blog</title>
		<meta charset="utf-8">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<!-- Favicon -->
		<%= favicon_link_tag 'gt_favicon.png' %>
		<!-- Bootstrap -->
		<!--<%= stylesheet_link_tag 'application', 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css' %>-->
		<!-- Icons -->
		<%= stylesheet_link_tag 'application', 'http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %>
		<!-- Fonts -->
		<!-- Added in gem -->

		<!-- Script -->
		<!-- Added in gem -->

	</head>
	<body class="home">
		<!-- Header -->
		<header id="header">

			<div id="head" class="parallax" parallax-speed="2">
				<h1 id="logo" class="text-center">
					<%= image_tag("guy.jpg", alt: "Quy 's avatar", class: "img-circle") %>
					<span class="title">Hoang Ngoc Quy's Blog</span>
					<span class="tagline">Back-end Deverloper<br>
						<a href="">quyhn@hiworld.com.vn</a></span>
				</h1>
			</div>

			<nav class="navbar navbar-default navbar-sticky">

				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
					</div>
					
					<div class="navbar-collapse collapse">
						
						<ul class="nav navbar-nav">
							<li class="active"><a href="home">Home</a></li>
							<li><a href="about">About</a></li>
							<li><a href="website">My Website</a></li>
							<!--
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Website <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="">VnDesigner.info</a></li>
									<li><a href="">Viet-timeline.com</a></li>
									<li><a href="">Mom-diary.com</a></li>
									<li><a href="">Todo-list.com</a></li>
								</ul>
							</li>
							-->
							<li><a href="blog">Blog</a></li>
							<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
						</ul>
					</div>	

				</div>

			</nav>

		</header>
		<!-- End Header -->

		<main id="main">
			<div class="container">
			
			<!-- Content -->
			<%= yield %>
			<!-- End Content -->

			</div>	<!-- /container -->
		</main>

		<!-- Footer -->
		<footer id="footer">

			<div class="container">

				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>(+84) 1658 943 584<br>
								<a href="">quyhn@hiworld.com.vn</a><br />
								<br />
								Ha Noi University of Science and Technology
								<br />
								No 1 Dai Co Viet, Hai Ba Trung, Ha Noi
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow me</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Text widget</h3>
						<div class="widget-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Form widget</h3>
						<div class="widget-body">
							<p>(+84) 1658 943 584<br>
								<a href="">quyhn@hiworld.com.vn</a><br />
								<br />
								Ha Noi University of Science and Technology
								<br />
								No 1 Dai Co Viet, Hai Ba Trung, Ha Noi
							</p>	
						</div>
					</div>

				</div>

			</div>

		</footer>

		<footer id="underfooter">

			<div class="container">

				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p>Ha Noi University of Science and Technology,  No 1 Dai Co Viet, Hai Ba Trung, Ha Noi</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2015, Bk's Blog<br> 
								Design: <a href="" rel="designer">Quyhn</a> </p>
						</div>
					</div>

				</div>

			</div>

		</footer>
		<!-- End Footer -->
	</body>

</html>
