<div class="row">
  <div class="col-sm-8 col-sm-offset-2"> 
    <h3 class="sign-up">Sign up</h3>
    <i class="form-element-note">
      Sign up to comment, chat, add new friend, and learn more
      <br />
      Note : (*) is must enter
      <%= devise_error_messages! %>
    </i>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <!-- MUST ENTER -->
      <div class="form-group">
        <%= f.label :"Email address  *" %>
        <%= f.email_field :email, class: "form-control" , placeholder: "Enter your email", name: "email" %>
      </div>
      <div class="form-group">
        <%= f.label :"User Name  *" %>
        <%= f.text_field :user_name, class: "form-control" , placeholder: "Enter user name", name: "user_name" %>
      </div>
      <div class="form-group">
        <%= f.label :"Password  * " %><i class="form-element-note">( 8 characters minimum)</i>
        <%= f.password_field :password, class: "form-control" , placeholder: "Enter password", name: "password" %>
        </label>
      </div>
      <div class="form-group">
        <%= f.label :"Password Confirmation  *" %>
        <%= f.password_field :password_confirmation, class: "form-control" , placeholder: "Enter password confirmation", name: "confirmation_password" %>
      </div>
    <!-- OPTIONAL -->
      <div class="form-group">
        <%= f.label :"Fist Name " %><i class="form-element-note">( optional )</i>
        <%= f.text_field :first_name, class: "form-control" , placeholder: "Fist name", name: "first_name" %>
      </div>
      <div class="form-group">
        <%= f.label :"Last Name " %><i class="form-element-note">( optional )</i>
        <%= f.text_field :last_name, class: "form-control" , placeholder: "Last name", name: "last_name" %>
      </div>
      <div class="form-group">
        <%= f.label :"Gender " %><i class="form-element-note">( optional )</i>
        <%= f.select(:gender, [ 'Other..','Male', 'Female'],{}, { :class => 'form-control gender-input', name:"gender" })%>
      </div>
      <div class="form-group">
        <%= f.label :"Address " %><i class="form-element-note">( optional )</i>
        <%= f.text_field :address, class: "form-control" , placeholder: "Your Address", name: "address" %>
      </div>
      <div class="form-group">
        <%= f.label :"Phone " %><i class="form-element-note">( optional )</i>
        <%= f.telephone_field :phone, class: "form-control number" , placeholder: "Your phone number", name: "phone" %>
      </div>
      <div class="form-group">
        <%= f.label :"Description about you " %><i class="form-element-note">( optional )</i>
        <%= f.text_area :description, class: "form-control", rows: 6, name: "description" %>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="checkbox">
            <label> <input type="checkbox"> Send email to me</label>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <%= f.submit "Sign up", class: "btn btn-action", id: "submit-form" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){

    /* Check email */
    
    // jQuery.validator.addMethod("checkAlreadyEmail", function( value, element ) {
    //   var unavailable = true;
    //   $.ajax({
    //     url : '/users/registrations_controller#check_already_email',
    //     type : "POST",
    //     async: false,
    //     data : "email=" + value,
    //     dataType : "json",
    //     success : function(data) {
    //       if(data.available == true){
    //         unavailable = false;
    //       }
    //     }
    //   });
    //   return unavailable;
    // }, "This email is already taken");
    
    /* Check user name */
    
    // jQuery.validator.addMethod("checkAlreadyUserName", function( value, element ) {
    //   var unavailable = true;
    //   $.ajax({
    //     url : '/users/registrations_controller#check_already_user_name',
    //     type : "POST",
    //     async: false,
    //     data : "user_name=" + value,
    //     dataType : "json",
    //     success : function(data) {
    //       if(data.available == true){
    //         unavailable = false;
    //       }
    //     }
    //   });
    //   return unavailable;
    // }, "This user name is already taken");
    
    /* Validate form */

    $("#new_user").validate({
      rules: {
        email: {
          required: true,
          email: true,
          // checkAlreadyEmail: true,
          },
        user_name: {
          required: true,
          maxlength: 16,
          minlength: 4,
          // checkAlreadyUserName: true,
        },
        password: {
          required: true,
          minlength: 8,
          maxlength: 25,
        },
        confirmation_password: {
          required: true,
          minlength: 8,
          maxlength: 25,
          equalTo: "#user_password",
        },
        first_name: {
          maxlength: 16,
        },
        last_name: {
          maxlength: 16,
        },
        phone: {
          number: true,
          minlength: 10,
          maxlength: 16,
        },
        description: {
          minlength: 25,
        },
      },
      messages: {
        email: {
          required: "Please enter your email",
          email: "Please enter valid email address",
          // checkAlreadyEmail: "This email is already taken",
        },
        user_name: {
          required: "Please enter user name",
          maxlength: "User name must be at most 16 characters",
          minlength: "User name must be at least 4 characters",
          // checkAlreadyUserName: "This user name is already taken",
        },
        password: {
          required: "Please enter your password",
          minlength: "Password must be at least 8 characters",
          maxlength: "Password must be at most 25 characters",
          
        },
        confirmation_password: {
          required: "Please enter confirmation password",
          minlength: "Password confirmation must be at least 4 characters",
          maxlength: "Password confirmation must be at most 25 characters",
          equalTo: "Password confirmation must doesn't match password",
        },
        first_name: {
          maxlength: "First name must be at most 16 characters",
        },
        last_name: {
          maxlength: "Last name must be at most 16 characters",
        },
        phone: {
          number: "Please enter valid phone number",
          minlength: "Phone number must be at least 10 number",
          maxlength: "Phone number must be at most 16 number",
        },
        description: {
          minlength: "Description must be least 25 characters",
        },
      },
    });
  });
</script>
